<%- layout('base.ejs')%>
<% block('title', 'Админка') -%>

<script src="/libs/angular/angular.min.js"></script>
<script src="/libs/angular-bootstrap/ui-bootstrap.js"></script>
<script src="/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/javascripts/admin.js"></script>
<script>
	window.tags = <%- JSON.stringify(tags) %>;
	window.benefits = <%- JSON.stringify(benefits) %>;
	window.cities = <%- JSON.stringify(cities) %>;

	window.restplaces = <%- JSON.stringify(restplaces) %>;
	window.places = <%- JSON.stringify(places) %>;
</script>
<link rel="stylesheet" href="/stylesheets/builded/admin.css">
<link rel="stylesheet" href="/libs/angular-bootstrap/ui-bootstrap-csp.css">

<div ng-app="serpAdmin" ng-controller="MainCtrl" class="admin-container">
	<script type="text/ng-template" id="deleteModel.html">
        <div class="modal-header">
            <h3 class="modal-title">Удаляем <span ng-bind="items.model.title"></span>?</h3>
        </div>
        <div class="modal-body">
        	Удаляем {{ items.model.title }} ?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

	<div class="admin-container container">
		<p><a href="/admin/create/hotel" target="_blank">Добавить отель</a></p>
		<p><a href="/admin/create/place" target="_blank">Добавить место</a></p>
	</div>


	<div class="left">
		<div class="block">
			<div class="title">Теги</div>
			<div class="wrapper">
				<div class="form-group">
					<label for="title">Название тега</label>
					<input class="form-control" id="title" ng-class="{ fill : newTag.name }" type="text" ng-model="newTag.name">
					<button ng-click="createTag(newTag)" class="btn btn-apply">Добавить тег</button>
				</div>

			</div>
		</div>
		<div class="block">
			<div class="title">Готовые теги</div>
			<div class="wrapper">
				<p ng-repeat="t in tags" ng-model="benefit.name">{{ t.name }}</p>
			</div>
		</div>

		<div class="block">
			<div class="title">Города</div>
			<div class="wrapper">
				<div class="form-group">
					<label for="title">Название города</label>
					<input class="form-control" id="title" ng-class="{ fill : newCity.name }" type="text" ng-model="newCity.name">
					<button ng-click="createCity(newCity)" class="btn btn-apply">Добавить тег</button>
				</div>

			</div>
		</div>
		<div class="block">
			<div class="title">Имеющиеся города</div>
			<div class="wrapper">
				<p ng-repeat="city in cities">{{ city.name }}</p>
			</div>
		</div>

		<div class="block">
			<div class="title">Бенефиты</div>
			<div class="wrapper">
				<div class="form-group">
					<label for="title">Название бенефита</label>
					<input class="form-control" id="title" ng-class="{ fill : newBenefit.name }" type="text" ng-model="newBenefit.name">
				</div>	
				<div class="form-group images-load-container">
					<label for="title">Иконка бенефита</label>
					<input id="image" type="file" style="visibility:hidden">
					<p><button class="btn btn-success" ng-click="loadImageForBenefit()">Загрузить иконку</button></p>
					<div class="images-list" ng-if="newBenefit.image">
						<div style="background-image:url('{{ newBenefit.image.path }}')" class="each-img"></div>
					</div>
				</div>
				<div class="form-group">
					<button ng-click="createBenefit(newBenefit)" class="btn btn-apply">Добавить бенефит</button>
				</div>
			</div>
		</div>
		
		<div class="block">
			<div class="title">Готовые бенефиты</div>
			<div class="wrapper">
				<div ng-repeat="ben in benefits" class="listed-objects">
					<div style="background-image : url('{{ ben.image.path }}')" class="img"></div>
					<span class="name">{{ ben.name }}</span>
				</div>
			</div>
		</div>
	</div>

	<div class="right">
		<div class="block">
			<div class="title">Места</div>

			<div class="wrapper">
				<div class="form-group">
					<label>Поиск по местам</label>
					<input class="form-control" type="text" ng-model="places_filter">
				</div>
				<div ng-repeat="place in places | filter:places_filter" class="checkbox listed-objects">
					<span class="misc">
						<a href="/place/{{ place.title_url }}" target="_blank"><span class="fa fa-eye"></span></a>
						<a href="/admin/update/place/{{ place._id }}"><span class="fa fa-pencil"></span></a>
					</span>
					<label>
						<div style="background-image : url('{{ place.images[0].path }}')" class="img"></div>
						<span class="name">{{ place.title }}</span>
					</label>
				</div>
			</div>
		</div>

		<div class="block">
			<div class="title">Отели</div>

			<div class="wrapper">
				<div class="form-group">
					<label>Поиск по отелям</label>
					<input class="form-control" type="text" ng-model="restplaces_filter">
				</div>
				<div ng-repeat="place in restplaces | filter:restplaces_filter" class="checkbox listed-objects">
					<span class="misc">
						<a href="/hotel/{{ place.title_url }}" target="_blank"><span class="fa fa-eye"></span></a>
						<a href="/admin/update/hotel/{{ place._id }}"><span class="fa fa-pencil"></span></a>
						<span class="fa fa-times" ng-click="deleteModal('restplace', place, $index, 'restplaces')"></span>
					</span>

					<label>
						<div style="background-image : url('{{ place.images[0].path }}')" class="img"></div>
						<span class="name">{{ place.title }}</span>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>