<%- layout('base.ejs')%>
<% block('title', 'Админка') -%>

<script src="/libs/angular/angular.min.js"></script>
<script src="/javascripts/admin_hotels.js"></script>
<script>
	window.tags = <%- JSON.stringify(tags) %>;
	window.benefits = <%- JSON.stringify(benefits) %>;
	window.places = <%- JSON.stringify(places) %>;
	window.cities = <%- JSON.stringify(cities) %>;
	window.hotel = <%- JSON.stringify(hotel) %>;
</script>
<link rel="stylesheet" href="/stylesheets/builded/admin.css">

<div ng-app="serpAdmin" ng-controller="MainCtrl" class="admin-container">

	<div class="container"><a href="/admin">Вернуться назад</a></div>
	
	<div class="left">

		<div class="block">
			<div class="title">Основная информация</div>
			
			<div class="wrapper">
				<div class="form-group">
					<label for="title">Заголовок</label>
					<input class="form-control" id="title" ng-class="{ fill : restplace.title }" type="text" ng-model="restplace.title">
				</div>

				<div class="form-group">
					<label for="title">URL Заголовок( транслит)</label>
					<input class="form-control" id="title" ng-class="{ fill : restplace.title_url }" type="text" ng-model="restplace.title_url" placeholder="Пример: hotel_spa_resort_super_dream_comes_true">
				</div>

				<div class="form-group">
					<label for="description_full">Полное описание</label>
					<textarea class="form-control" id="description_full" ng-class="{ fill : restplace.description_full }" ng-model="restplace.description_full"></textarea>
				</div>

				<div class="form-group">
					<label for="description_mini">Краткое описание</label>
					<textarea class="form-control" id="description_mini" ng-class="{ fill : restplace.description_mini }" ng-model="restplace.description_mini"></textarea>
				</div>

			</div>
		</div>

		<div class="block">
			<div class="title">Цена</div>

			<div class="wrapper">
				<div class="form-group">
					<label for="price">Категория цены</label>
					<select class="form-control" ng-options="cat._id as cat.name for cat in _price_categories" ng-model="restplace.price_category"></select>
				</div>

				<div class="form-group">
					<label for="price">Цена за 1-3 суток в рублях</label>
					<input type="number" class="form-control" id="price" ng-class="{ fill : restplace.price1 }" ng-model="restplace.price1"/>
				</div>
				<div class="form-group">
					<label for="price">Цена за 4-6 суток в рублях</label>
					<input type="number" class="form-control" id="price" ng-class="{ fill : restplace.price2 }" ng-model="restplace.price2"/>
				</div>
				<div class="form-group">
					<label for="price">Цена за 6-10 суток в рублях</label>
					<input type="number" class="form-control" id="price" ng-class="{ fill : restplace.price3 }" ng-model="restplace.price3"/>
				</div>
				<div class="form-group">
					<label for="price">Цена за 10+ суток в рублях</label>
					<input type="number" class="form-control" id="price" ng-class="{ fill : restplace.price4 }" ng-model="restplace.price4"/>
				</div>

			</div>
		</div>

		<div class="block">
			<div class="title">Расположение</div>
			
			<div class="wrapper">
				<div class="form-group">
					<label>Координаты</label>
					<input class="form-control" ng-class="{ fill : restplace.coordinates }" type="text" ng-model="restplace.coordinates" placeholder="Координаты">
				</div>

				<div class="form-group">
					<label>Адрес</label>
					<input class="form-control" ng-class="{ fill : restplace.adress }" type="text" ng-model="restplace.adress" placeholder="Адрес">
				</div>

				<div class="form-group">
					<label>Страна</label>
					<input class="form-control" ng-class="{ fill : restplace.country }" type="text" ng-model="restplace.country" placeholder="Страна">
				</div>

				<div class="form-group">
					<label>Город</label>
					<select class="form-control" ng-options="city._id as city.name for city in _cities" ng-model="restplace.city"></select>
				</div>

				<div id="map" style="width: 100%; height: 500px"></div>

			</div>
		
		</div>

	</div>
	<div class="right">
		
		<div class="images-load-container block">
			<div class="title">Фото</div>
			<div class="wrapper">
				<input id="image" type="file" data-key="images" multiple="true" style="visibility:hidden">
				<p><button class="btn btn-success" ng-click="imageLoad(true)">Загрузить фотки</button></p>
				<div class="images-list">
					<div style="background-image:url('{{ image.path }}')" class="each-img" ng-repeat="image in images">
						<span class="img-remove" ng-click="removeImage(image._id, restplace._id, $index)">x</span>
					</div>
				</div>
			</div>
			<div class="msg">{{ images_msg }}</div>
		</div>

		<!-- <div class="block">
			<div class="title">Прочее</div>
			<div class="wrapper">
				<div class="checkbox">
					<label><input type="checkbox" ng-model="restplace.best_offer"> Лучшее предложение</label>
				</div>
			</div>
		</div> -->

		<div class="block">
			<div class="title">Места рядом</div>

			<div class="wrapper">
				<div class="form-group">
					<label>Поиск по названию</label>
					<input class="form-control" type="text" ng-model="places_filter.title">
					<label>Поиск по городу</label>
					<select class="form-control" ng-options="city._id as city.name for city in _cities" ng-model="places_filter.city"></select>
				</div>
				<div ng-if="!places_filter.title.length && !places_filter.city">Введи название или выбери город для поиска</div>
				<div ng-repeat="place in restplace._places | filter:places_filter" class="listed-objects" ng-if="places_filter.title.length || places_filter.city">
					<input type="checkbox" ng-model="place.selected">
					<div style="background-image : url('{{ place.images[0].path }}')" class="img"></div>
					<span class="name">{{ place.title }}</span>
				</div>
			</div>
		</div>

		<div class="block">
			<div class="title">Прочая информация</div>
			<div class="wrapper">
				<div class="form-group">
					<label>Характеристики (каждая с новой строки)</label>
					<textarea rows="6" class="form-control" ng-class="{ fill : restplace.characteristics }" type="text" ng-model="restplace.characteristics"></textarea>
				</div>

				<!-- <div class="form-group">
					<label>Плюсы</label>
					<div class="checkbox" ng-repeat="benefit in restplace._benefits">
					  <label><input type="checkbox" ng-model="benefit.value">{{ benefit.name }}</label>
					</div>
				</div> -->

				<div class="form-group">
					<label>Теги</label>
					<div class="checkbox" ng-repeat="tag in restplace._tags">
					  <label><input type="checkbox" ng-model="tag.value">{{ tag.name }}</label>
					</div>
				</div>
			</div>
		</div>

	</div>

	<div class="bottom">
		<% if (hotel) { %>
			<button ng-if="restplace.city && images.length" class="btn btn-success" ng-click="updateRestPlace(restplace)">Редактировать</button>
		<%} else { %>
			<button ng-if="restplace.city && images.length" class="btn btn-success" ng-click="saveRestPlace(restplace)">Сохранить</button>
		<%} %>
	</div>


</div>
