<%- layout('base.ejs')%>
<% block('title', 'Админка') -%>

<script src="/libs/angular/angular.min.js"></script>
<script src="/libs/angular-bootstrap/ui-bootstrap.js"></script>
<script src="/libs/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/javascripts/admin.js"></script>
<script>
	window.tags = <%- JSON.stringify(tags) %>;
	window.benefits = <%- JSON.stringify(benefits) %>;
	window.cities = <%- JSON.stringify(cities) %>;

	window.restplaces = <%- JSON.stringify(restplaces) %>;
	window.places = <%- JSON.stringify(places) %>;

	window.posts = <%- JSON.stringify(posts) %>;
</script>
<link rel="stylesheet" href="/stylesheets/builded/admin.css">
<link rel="stylesheet" href="/libs/angular-bootstrap/ui-bootstrap-csp.css">

<div ng-app="serpAdmin" ng-controller="MainCtrl" class="admin-container">
	<div class="admin_hint">Сохранение успешно</div>
	<script type="text/ng-template" id="deleteModel.html">
        <div class="modal-header">
            <h3 class="modal-title">Удаляем <span ng-bind="items.model.title"></span>?</h3>
        </div>
        <div class="modal-body">
        	Удаляем {{ items.model.title }} ?
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

	<div class="admin-container container">
		<p><a href="/admin/create/hotel" target="_blank">Добавить отель</a></p>
		<p><a href="/admin/create/place" target="_blank">Добавить место</a></p>
		<p><a href="/admin/create/post" target="_blank">Добавить новость</a></p>
	</div>


	<div class="left">
		<div class="block">
			<div class="title">Теги</div>
			<div class="wrapper">
				<div class="form-group">
					<label for="title">Название тега ( Горнолыжный отдых )</label>
					<input class="form-control" id="title" ng-class="{ fill : newTag.name }" type="text" ng-model="newTag.name">
					<label for="title">URL названия тега ( mountains_... )</label>
					<input class="form-control" id="title" ng-class="{ fill : newTag.name_url }" type="text" ng-model="newTag.name_url">
					<label for="title">Описание </label>
					<input class="form-control" id="title" ng-class="{ fill : newTag.description }" type="text" ng-model="newTag.description">
					<label for="title">SEO TITLE</label>
					<input class="form-control" id="title" ng-class="{ fill : newTag.seo_title }" type="text" ng-model="newTag.seo_title">
					<label for="title">SEO DESCRIPTION</label>
					<input class="form-control" id="title" ng-class="{ fill : newTag.seo_description }" type="text" ng-model="newTag.seo_description">
				</div>	
				<div class="form-group images-load-container">
					<label for="title">Иконка тега</label>
					<input id="image_tag" type="file" style="visibility:hidden">
					<p><button class="btn btn-success" ng-click="loadImageForTag()">Загрузить иконку</button></p>
					<div class="images-list" ng-if="newTag.image">
						<div style="background-image:url('{{ newTag.image.path_low }}')" class="each-img"></div>
					</div>
				</div>
				<div class="form-group">
					<button ng-click="createTag(newTag)" ng-if="!newTag.updated && newTag.name && newTag.name_url && newTag.image" class="btn btn-apply">Добавить тег</button>
					<button ng-click="updateTag(newTag)" ng-if="newTag.updated && newTag.name && newTag.name_url && newTag.image" class="btn btn-apply">Редактировать тег</button>
				</div>
			</div>
		</div>
		
		<div class="block">
			<div class="title">
				Готовые теги
				<span> ({{ tags.length }})</span>
				</div>
			<div class="wrapper">
				<div ng-repeat="tag in tags" ng-class="{ deleted : tag.deleted }" class="listed-objects">
					<span class="misc">
						<a href="/tag/{{ tag.name_url }}" target="_blank"><span class="fa fa-eye"></span></a>
						<span class="fa fa-times" ng-if="!tag.deleted" ng-click="deleteModal('tag', tag, $index, 'tags')"></span>
						<span class="fa fa-pencil" ng-click="preloadTag(tag)"></span>
						<span class="fa fa-refresh" ng-if="tag.deleted" ng-click="restore('tag', tag)"></span>
					</span>
					<div style="background-image : url('{{ tag.image.path_low }}')" class="img"></div>
					<span class="name">{{ tag.name }}</span>
				</div>
			</div>
		</div>
		<!-- <div class="block">
			<div class="title">Теги</div>
			<div class="wrapper">
				<div class="form-group">
					<label for="title">Название тега</label>
					<input class="form-control" id="title" ng-class="{ fill : newTag.name }" type="text" ng-model="newTag.name">
					<button ng-click="createTag(newTag)" class="btn btn-apply" ng-show="newTag.name">Добавить тег</button>
				</div>

			</div>
		</div>
		<div class="block">
			<div class="title">Готовые теги</div>
			<div class="wrapper">
				<p ng-repeat="t in tags" ng-class="{ deleted : t.deleted }" class="listed-objects">
					<span class="misc">
						<span class="fa fa-times" ng-if="!t.deleted" ng-click="deleteModal('tag', t, $index, 'tags')"></span>
						<a href="/admin/update/place/{{ place._id }}"><span class="fa fa-pencil"></span></a>
						<span class="fa fa-refresh" ng-if="t.deleted" ng-click="restore('tag', t)"></span>
					</span>
					<span>{{ t.name }}</span><span ng-if="t.deleted"> (Удалено)</span>
				</p>
			</div>
		</div> -->

		<!-- <div class="block">
			<div class="title">Города</div>
			<div class="wrapper">
				<div class="form-group">
					<label for="title">Название города</label>
					<input class="form-control" id="title" ng-class="{ fill : newCity.name }" type="text" ng-model="newCity.name">
					<button ng-click="createCity(newCity)" class="btn btn-apply" ng-show="newCity.name">Добавить город</button>
				</div>

			</div>
		</div>
		<div class="block">
			<div class="title">Имеющиеся города</div>
			<div class="wrapper">
				<p ng-repeat="city in cities" ng-class="{ deleted : city.deleted }" class="listed-objects">
					<span class="misc">
						<span class="fa fa-times" ng-if="!city.deleted" ng-click="deleteModal('city', city, $index, 'cities')"></span>
						<a href="/admin/update/place/{{ place._id }}"><span class="fa fa-pencil"></span></a>
						<span class="fa fa-refresh" ng-if="city.deleted" ng-click="restore('city', city)"></span>
					</span>
					<span>{{ city.name }}</span><span ng-if="city.deleted"> (Удалено)</span>
				</p>
			</div>
		</div> -->

		<div class="block">
			<div class="title">Города</div>
			<div class="wrapper">
				<div class="form-group">
					<label for="title">Название города ( Санкт-Петербург )</label>
					<input class="form-control" id="title" ng-class="{ fill : newCity.name }" type="text" ng-model="newCity.name">
					<label for="title">URL названия города ( saint_petersburg )</label>
					<input class="form-control" id="title" ng-class="{ fill : newCity.name_url }" type="text" ng-model="newCity.name_url">
					<label for="title">Описание </label>
					<input class="form-control" id="title" ng-class="{ fill : newCity.description }" type="text" ng-model="newCity.description">
					<label for="title">SEO TITLE</label>
					<input class="form-control" id="title" ng-class="{ fill : newCity.seo_title }" type="text" ng-model="newCity.seo_title">
					<label for="title">SEO DESCRIPTION</label>
					<input class="form-control" id="title" ng-class="{ fill : newCity.seo_description }" type="text" ng-model="newCity.seo_description">
				</div>	
				<div class="form-group images-load-container">
					<label for="title">Иконка города</label>
					<input id="image_city" type="file" style="visibility:hidden">
					<p><button class="btn btn-success" ng-click="loadImageForCity()">Загрузить иконку</button></p>
					<div class="images-list" ng-if="newCity.image">
						<div style="background-image:url('{{ newCity.image.path_low }}')" class="each-img"></div>
					</div>
				</div>
				<div class="form-group">
					<button ng-click="createCity(newCity)" ng-if="!newCity.updated && newCity.name && newCity.name_url && newCity.image" class="btn btn-apply">Добавить город</button>
					<button ng-click="updateCity(newCity)" ng-if="newCity.updated && newCity.name && newCity.name_url && newCity.image" class="btn btn-apply">Редактировать город</button>
				</div>
			</div>
		</div>
		
		<div class="block">
			<div class="title">
				Готовые города
				<span> ({{ cities.length }})</span>
			</div>
			<div class="wrapper">
				<div ng-repeat="city in cities" ng-class="{ deleted : city.deleted }" class="listed-objects">
					<span class="misc">
						<a href="/hotel/{{ city.name_url }}" target="_blank"><span class="fa fa-eye"></span></a>
						<span class="fa fa-times" ng-if="!city.deleted" ng-click="deleteModal('city', city, $index, 'cities')"></span>
						<span class="fa fa-pencil" ng-click="preloadCity(city)"></span>
						<span class="fa fa-refresh" ng-if="city.deleted" ng-click="restore('city', city)"></span>
					</span>
					<input type="checkbox" ng-model="city.popular" ng-change="updateCity({ _id : city._id, popular : city.popular });">
					<div style="background-image : url('{{ city.image.path_low }}')" class="img"></div>
					<span class="name">{{ city.name }}</span>
				</div>
			</div>
		</div>

		<!-- <div class="block">
			<div class="title">Бенефиты</div>
			<div class="wrapper">
				<div class="form-group">
					<label for="title">Название бенефита</label>
					<input class="form-control" id="title" ng-class="{ fill : newBenefit.name }" type="text" ng-model="newBenefit.name">
				</div>	
				<div class="form-group images-load-container">
					<label for="title">Иконка бенефита</label>
					<input id="image" type="file" style="visibility:hidden">
					<p><button class="btn btn-success" ng-click="loadImageForBenefit()">Загрузить иконку</button></p>
					<div class="images-list" ng-if="newBenefit.image">
						<div style="background-image:url('{{ newBenefit.image.path_low }}')" class="each-img"></div>
					</div>
				</div>
				<div class="form-group">
					<button ng-click="createBenefit(newBenefit)" class="btn btn-apply">Добавить бенефит</button>
				</div>
			</div>
		</div>
		
		<div class="block">
			<div class="title">Готовые бенефиты</div>
			<div class="wrapper">
				<div ng-repeat="ben in benefits" class="listed-objects">
					<div style="background-image : url('{{ ben.image.path_low }}')" class="img"></div>
					<span class="name">{{ ben.name }}</span>
				</div>
			</div>
		</div> -->
	</div>

	<div class="right">
		<div class="block">
			<div class="title">
				Места
				<span> ({{ places.length }})</span>
				</div>

			<div class="wrapper">
				<div class="form-group">
					<label>Поиск по названию</label>
					<input class="form-control" type="text" ng-model="places_filter.title">
					<label>Поиск по городу</label>
					<select class="form-control" ng-options="city._id as city.name for city in cities" ng-model="places_filter.city"></select>
				</div>
				<div ng-if="!places_filter.title.length && !places_filter.city">Введи название или выбери город для поиска</div>
				<div ng-repeat="place in places | filter:places_filter" class="listed-objects" ng-if="places_filter.title.length || places_filter.city">
					<span class="misc">
						<a href="/place/{{ place.title_url }}" target="_blank"><span class="fa fa-eye"></span></a>
						<a href="/admin/update/place/{{ place._id }}"><span class="fa fa-pencil"></span></a>
						<span class="fa fa-times" ng-click="deleteModal('place', place, $index, 'places')"></span>
					</span>
					<div style="background-image : url('{{ place.images[0].path_low }}')" class="img"></div>
					<span class="name">{{ place.title }}</span>
				</div>
			</div>
		</div>

		<div class="block">
			<div class="title">
				Отели
				<span> ({{ restplaces.length }})</span>
			</div>

			<div class="wrapper">
				<div class="form-group">
					<label>Поиск по названию</label>
					<input class="form-control" type="text" ng-model="restplaces_filter.title">
					<label>Поиск по городу</label>
					<select class="form-control" ng-options="city._id as city.name for city in cities" ng-model="restplaces_filter.city"></select>
				</div>
				<div ng-if="!restplaces_filter.title.length && !restplaces_filter.city">Введи название или выбери город для поиска</div>
				<div ng-repeat="place in restplaces | filter:restplaces_filter" class="listed-objects" ng-if="restplaces_filter.title.length || restplaces_filter.city">
					<span class="misc">
						<a href="/hotel/{{ place.title_url }}" target="_blank"><span class="fa fa-eye"></span></a>
						<a href="/admin/update/hotel/{{ place._id }}"><span class="fa fa-pencil"></span></a>
						<span class="fa fa-times" ng-click="deleteModal('restplace', place, $index, 'restplaces')"></span>
					</span>
					<div style="background-image : url('{{ place.images[0].path_low }}')" class="img"></div>
					<span class="name">{{ place.title }}</span>
				</div>
			</div>
		</div>

		<div class="block">
			<div class="title">Блог</div>
			<div class="wrapper">
				<div ng-repeat="post in posts" class="listed-objects">
					<label class="name">{{ post.title }}</label>
					<span class="misc">
						<a href="/blog/{{ post.title_url }}" target="_blank"><span class="fa fa-eye"></span></a>
						<a href="/admin/update/post/{{ post._id }}"><span class="fa fa-pencil"></span></a>
						<span class="fa fa-times" ng-click="deleteModal('post', post, $index, 'posts')"></span>
					</span>
				</div>
			</div>
		</div>
	</div>
</div>