<%- layout('base.ejs')%>
<% block('title', 'Серпантин | Мои заявки') -%>

<script src="/libs/angular/angular.min.js"></script>
<script src="/javascripts/cabinet.js"></script>
<script src="/javascripts/slider.js"></script>

<script>
	window.requests = <%- JSON.stringify(requests) %>;
</script>

<link rel="stylesheet" href="/stylesheets/builded/cabinet.css">

<div class="header">
	<p class="title">Мои заявки</p>
</div>

<div class="content" ng-app="app" ng-controller="cabinet">
	<div class="container">
		<div class="requests">
			<p class="title">Мои заявки</p>
				<div class="request" ng-repeat="r in requests">
					<p><a class="title" href="/hotel/{{ r.hotel.title_url }}" target="_blank">{{ r.hotel.title }}</a></p>
					<p class="count">Отдыхающих: {{ r.count }}</p>
					<p class="dates">{{ r.dates }}</p>
					<p class="price">Цена: {{ r.price }}</p>
					<span class="status">
						<div class="status-text order_2" ng-if="!r.status">Заказ обрабатывается</div>
						<div class="status-text order_1" ng-if="r.status == 1">
							<form action="<%= yandexMoney.postUrl %>" method="post">
								<input name="shopId" value="<%= yandexMoney.shopId %>" type="hidden"/>
							    <input name="scid" value="<%= yandexMoney.scid %>" type="hidden"/>
							    <input name="sum" value="{{ r.final_price }}" type="hidden">
							    <input name="customerNumber" value="<%= user._id  %>" type="hidden"/>
							    <input name="paymentType" value="AC" type="hidden"/>
							    <input name="orderNumber" value="{{ r._id }}" type="hidden"/>
							    <input name="cps_phone" value="{{ r.phone }}" type="hidden"/>
							    <input name="cps_email" value="<%= user.email %>" type="hidden"/>
								<button type="submit">Оплатить ( {{ r.final_price }} руб.)</button>
							</form>
						</div>
						<div class="status-text order_2" ng-if="r.status == 2"><i class="fa fa-check"></i>Заказ оплачен</div>
					</span>
				</div>
		</div>		
	</div>
</div>
