<%- layout('base.ejs')%>
<% block('title', 'Серпантин | Планируйте отдых с нами.') -%>
<% block('description', city.description_mini) -%>
<% block('meta', partial('particials/city_meta')) %>

<script src="/javascripts/city.js"></script>
<script src="/custom/owl.carousel.min.js"></script>

<script>
	window.places = <%- JSON.stringify(places) %>;
</script>

<link rel="stylesheet" href="/stylesheets/builded/city.css">
<link rel="stylesheet" href="/custom/owl.carousel.css">

<div class="header" style="background-image:url('<%= city.image.path %>')">
	<p class="title"><%= city.name %></p>
</div>

<div class="filters-content container">
	<div class="content">
		<div class="part-wrapper carousel hotels-slider">
	 		<% for (var i in hotels) { var hotel = hotels[i]; %>
				<a href="/hotel/<%= hotel.title_url %>">
					<div class="block-wrapper item">
						<div style="background-image: url('<%= hotel.images[0].path %>');" class="block">
							<div class="info-bottom">
								<p class="title"><%= hotel.title %></p>
							</div>
						</div>
					</div>
				</a>
			<% } %>
		</div>
		<div class="part-wrapper">
			<% for (var i = 0; i < 4; i++) { var place = places[i]; if (place) { %>
				<div class="block-wrapper col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<a href="/place/<%= place.title_url %>">
						<div style="background-image: url('<%= place.images[0].path %>');" class="block">
							<div class="fader">
								<span class="info">
									<p class="title"><%= place.title %></p> 
									<p class="tip"><%= place.type == 'restaurant' ? 'Покушать' : 'Посетить' %></p> 
								</span>
							</div>
						</div>
					</a>
				</div>
			<% } } %>
		</div>

		<% if (places.length >= 4) { for (var i = 4, ii = places.length; i < ii; i++) { var place = places[i]; %>
			<a href="/place/<%= place.title_url %>">
				<div class="block-wrapper single">
					<div style="background-image: url('<%= place.mini_images[0].path %>');" class="block">
						<div class="fader">
							<span class="info">
								<p class="title"><%= place.title %></p> 
								<p class="tip"><%= place.type == 'restaurant' ? 'Покушать' : 'Посетить' %></p> 
							</span>
						</div>
					</div>
				</div>
			</a>
		<% } } %>
	</div>
</div>