<%- layout('base.ejs')%>
<% block('title', hotel.title) -%>
<% block('description', hotel.description_mini) -%>
<% block('meta', partial('particials/hotel_meta')) %>

<script>
	window.hotel = <%- JSON.stringify(hotel) %>;
</script>
<script src="/javascripts/page-slider.js"></script>
<script src="/javascripts/hotel.js"></script>
<script src="/libs/moment/min/moment-with-locales.min.js"></script>
<script src="/custom/jquery.daterangepicker.js"></script>
<script src="/custom/inputmask.js"></script>
<script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/stylesheets/builded/hotel.css">
<link rel="stylesheet" href="/stylesheets/builded/date-picker.css">

<div class="hotel-card">
	<div class="main-panel">
		<div class="image-panel <%= hotel.images.length < 2 ? 'single-image' : '' %>">
			<div class="left-button"></div>
			<div class="right-button"></div>
			<div class="images-wrapper">
				<% for (var i = 0; i < hotel.images.length; i++) { var img = hotel.images[i]; %>
						<div data-n="<%= i %>" class="image <%= i == 0 ? 'current' : '' %>" style="background-image : url('<%= img.path %>')"></div>
				<% } %>
			</div>
			<div class="radio-wrapper">
				<% if (hotel.images.length > 1) { %>
					<% for (var j = 0; j < hotel.images.length; j++) { var img = hotel.images[j]; %>
						<span data-n="<%= j %>" class="image-radio <%= j == 0 ? 'current' : '' %>"></span>
					<% } %>
				<% } %>
			</div>
		</div>
		<div class="title-content">
			<div class="container">
				<div class="wrappers-container">
					<div class="left-wrapper">
						<h1 class="title"><%= hotel.title %></h1>
						<p class="target-name"><span class="fa fa-map-marker"></span><%= hotel.city.name %></p>
					</div>
					<!-- <div class="middle-wrapper col-xs-12 col-sm-6 col-md-4 col-lg-4">
						<p>Получите мгновенную консультацию</p>
						<p>+7 (495) 638 - 14 - 83</p>
					</div> -->
					<div class="right-wrapper">
						<p class="price"><span class="before">от </span> <%= hotel.price[hotel.price.length - 1] %><span class="fa fa-rub icon"></span></p>
						<p class="price-text">за сутки</p>
					</div>
				</div>
			</div>
		</div>
		<div class="hotel-info">
			<div class="container">
				<div class="info-wrapper">
						
					<div class="tabs">
						<ul class="nav nav-tabs" role="tablist">
							<li role="presentation" class="active"><a data-toggle="tab" role="tab" aria-controls="description" href="#description">Описание</a></li>
							<li role="presentation"><a data-toggle="tab" role="tab" aria-controls="information" href="#information">Информация</a></li>
							<li role="presentation"><a data-toggle="tab" role="tab" aria-controls="places" href="#places">Места рядом (<%= hotel.places.length %>)</a></li>
						</ul>
					</div>
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="description"><%= hotel.description_full %></div>
						<div role="tabpanel" class="tab-pane fade" id="information">
							<% for (var i = 0, characts = hotel.characteristics.split('\n'); i < characts.length; i++ ) { %>
								<div class="each-characterictic">- <%= characts[i] %></div>
							<% } %>
						</div>
						<div role="tabpanel" class="tab-pane fade places-wrapper" id="places">
							<% for (var i = 0, characts = hotel.places.length; i < characts ; i++ ) { %>
								<a href="/place/<%= hotel.places[i].title_url %>" target="_blank">
									<div class="each-place">
									<div class="image" style="background-image:url('<%= hotel.places[i].mini_images[0].path%>')"></div>
									<div class="info">
										<span>
											<p><%= hotel.places[i].title %></p>
										</span>
									</div>
								</div>	
								</a>
							<% } %>
						</div>
					</div>
					<div class="map-wrapper">
						<div id="map" style="width: 100%; height: 100%"></div>
					</div>
				</div>	

				<div class="offer-panel">
					<form>
						<div class="picker-wrapper">
							<div class="picker" id="picker"></div>
							<input type="text" id="dates" name="dates" style="display: none">
							<input type="text" name="title" style="display: none" value="<%= hotel.title %>">
							<div class="offer-continue">
								<div class="price-container">
									<div class="placeholder-fw">
										<span class="placeholder">Итоговая стоимость</span>
									</div>
									<span class="price"></span>
									<input type="text" id="price" name="price" style="display:none">
								</div>
								<div class="input-container">
									<div class="placeholder-fw">
										<span class="placeholder">Количество мест</span>
									</div>
									<input type="text" id="count" name="count" value="1">
								</div>
								<div class="input-container">
									<div class="placeholder-fw">
										<span class="placeholder">Ваше имя</span>
									</div>
									<input type="text" name="name">
								</div>
								<div class="input-container">
									<div class="placeholder-fw">
										<span class="placeholder">Ваш телефон</span>
									</div>
									<input type="text" name="phone" id="phone">
								</div>
								<button class="offer-button" id="offer-button">Оформить заказ</button>
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
		
	</div>

</div>