<%- layout('base.ejs')%>
<% block('title', 'Серпантин | Планируйте отдых с нами.') -%>
<% block('description', 'Серпантин - уникальная платформа по планированию путешествий по России и странам СНГ, включая все сервисы: проживание, экскурсии, развлечения, места, где поесть, что увидеть и посетить, которые были нами тщательно проверены и отобраны.') -%>
<% block('meta', partial('particials/index_meta')) %>

<script src="/javascripts/main.js"></script>
<script src="/javascripts/slider.js"></script>
<script src="/javascripts/dropdown.js"></script>
<script src="/custom/jq-render.min.js"></script>

<script src="/custom/owl.carousel.min.js"></script>
<link rel="stylesheet" href="/custom/owl.carousel.css">

<script>
	window.hotels = <%- JSON.stringify(hotels) %>;
</script>

<script id="cells" type="text/x-jsrender">
	<div class="cell-wrapper col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<a href="/hotel/{{:title_url}}">
			<div class="cell">
				<div class="images-with-radio-wrapper">
					<div class="images-wrapper">
						{{for images}}
							<div data-n="{{:#index}}" class="card-image {{:i==0?'current':''}}" style="background-image: url('{{:path_low }}')"></div>
						{{/for}}
					</div>
				</div>
				<div class="card-info">
					{{if images.length>1}}
						<div class="radio-wrapper">
							{{for images}}
								<span data-n="{{:#index}}" class="image-radio {{:j==0?'current':''}}"></span>
							{{/for}}
						</div>
					{{/if}}
					<div class="price-wrapper">
						<div class="price-with-icon">
							<span class="fa fa-rub icon"></span>
							<span class="price">{{:price[0]}}</span>	
						</div>
						<div class="per-x">за сутки</div>
					</div>
					<span class="left">
						<p class="title">{{:title}}</p>
						<p class="city"><span class="fa fa-map-marker icon"></span>{{:city.name}}</p>
					</span>
					<span class="right">
						<button class="more-info">Подробнее</button>
					</span>
				</div>
			</div>
		</a>
	</div>
</script>
<link rel="stylesheet" href="/stylesheets/builded/index.css">

<div class="header index">
	<div class="fader"></div>
	<div class="info-wrapper">
		<span>
			<p class="title">Бескрайняя Россия</p>
			<p class="desc">Исследуй. Мечтай. Открывай</p>
		</span>
	</div>
	<div class="filters-wrapper container">
			<div class="input-wrapper col-md-4 col-sm-6 col-xs-12">
				<h4>Город</h4>
				<div class="dropdown" data-type="city">
					<dt><a><span>Выберите город</span></a></dt>
					<dd><ul>
						<li><a>Любой</a></li>
						<% for (var i in cities) { var city = cities[i]; %>
							<li><a data-id="<%= city._id %>"><%= city.name %></a></li>
						<% } %>
					</ul></dd>
				</div>
			</div>
			<!-- <div class="input-wrapper col-md-4 col-sm-6 col-xs-12">
				<h4>Цена за день в руб.</h4>
				<div class="dropdown" data-type="price_category">
					<dt><a><span>Выберите цену</span></a></dt>
					<dd><ul>
						<li><a>Любая</a></li>
						<% for (var i in costs) { var cost = costs[i]; %>
							<li><a data-id="<%= cost._id %>"><%= cost.name %></a></li>
						<% } %>
					</ul></dd>
				</div>
			</div> -->
			<div class="input-wrapper col-md-4 col-sm-6 col-xs-12">
				<h4>Тип отдыха</h4>
				<div class="dropdown" data-type="tags">
					<dt><a><span>Выберите тип отдыха</span></a></dt>
					<dd><ul>
						<li><a>Любой</a></li>
						<% for (var i in tags) { var tag = tags[i]; %>
							<li><a data-id="<%= tag._id %>"><%= tag.name %></a></li>
						<% } %>
					</ul></dd>
				</div>
			</div>
			<div class="input-wrapper col-md-4 col-sm-12 col-xs-12">
				<div class="search-button" id="search-button">Искать</div>
			</div>
		</div>
</div>

<div class="filters-content container">
	<div class="content">
		<div class="city-carousel">
			<% for (var i in cities_popular) { var city = cities_popular[i]; %>
				<a href="/city/<%= city.name_url %>">
					<div class="item" style="background-image: url('<%= city.image.path_low %>');">
						<div class="fader">
							<span><%= city.name %></span>
						</div>
					</div>
				</a>
			<% } %>
		</div>
		<% for (var i in hotels) { var hotel = hotels[i]; %>
			 <div class="cell-wrapper col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<a href="/hotel/<%= hotel.title_url %>">
					<div class="cell">
						<div class="images-with-radio-wrapper">
							<div class="images-wrapper">
								<% for (var i = 0; i < hotel.images.length; i++) { %>
									<div data-n="<%= i %>" class="card-image <%= i == 0 ? 'current' : '' %>" style="background-image: url(<%= hotel.images[i].path_low %>)"></div>
								<% } %>
							</div>
						</div>
						<div class="card-info">
							<span class="left">
								<p class="title"><%= hotel.title %></p>
								<p class="city"><span class="fa fa-map-marker icon"></span><%= hotel.city.name %></p>
							</span>
							<span class="right">
								<button class="more-info">Подробнее</button>
							</span>

							<% if (hotel.images.length > 1) { %>
							<div class="radio-wrapper">
								<% for (var j = 0; j < hotel.images.length; j++) { %>
									<span data-n="<%= j %>" class="image-radio <%= j == 0 ? 'current' : '' %>"></span>
								<% } %>
							</div>
							<% } %>
							
							<div class="price-wrapper">
								<div class="price-with-icon">
									<span class="fa fa-rub icon"></span>
									<span class="price"><%= hotel.price[0] %></span>	
								</div>
								<div class="per-x">за сутки</div>
							</div>
						</div>
					</div>
				</a>
			</div> 
		<% } %>
	</div>
</div>
